<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Testimonials settings
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSaveSettings="saveSettings"
            :buttons="headerButtons"/>
        <b-container class="mt-3">
            <b-row>
                <b-col cols="12">
                    <testimonial-setting-form :settings="localSettings"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import TestimonialSettingForm from "../forms/TestimonialSettingForm";
    import TestimonialSetting from "../resources/testimonialSetting";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "TestimonialView",
        components: {TestimonialSettingForm, OctoSidebarRight, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Salva',
                        onClick: 'onSaveSettings',
                        icon: 'floppy-disk'
                    },
                ],
                localSettings: TestimonialSetting,
            }
        },
        methods: {
            saveSettings: function () {
                this.$fullLoading.show();
                this.$api.post(routes.CONFIG_SETTINGS_POST, {
                    name: "module_testimonials",
                    value: this.localSettings,
                }).then((resp) => {
                    this.$fullLoading.hide();
                    this.$localStorage.setSettingsByName(resp.data.data.name, resp.data.data.value);
                    this.$bvToast.toast('Impostazioni aggiornate', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Impostazioni non aggiornate', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    });
            },
        },
        mounted() {
            this.localSettings = this.$localStorage.getSettings().module_testimonials
                ? this.$_.cloneDeep(this.$localStorage.getSettings().module_testimonials)
                : this.$_.cloneDeep(TestimonialSetting);
        },
    }
</script>

<style scoped lang="scss">

</style>
