<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Testimonials
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onShowNewTestimonialSidebar="openSidebarTestimonial"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <testimonial-datatable
                        :key="testimonialsDatatableKey"
                        @onOpenTestimonial="openSidebarTestimonial"
                    />
                </b-col>
            </b-row>
        </b-container>
        <octo-sidebar-right
            @onHidden="showSidebar = false"
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
            @onSaveTestimonial="saveTestimonial"
            @onDeleteTestimonial="deleteTestimonial"
        >
            <testimonial-form
                ref="testimonialForm"
                :key="testimonialInfoKey"
                :testimonial="currentTestimonial"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import TestimonialDatatable from "../datatables/TestimonialDatatable";
    import TestimonialForm from "../forms/TestimonialForm";
    import Testimonial from "../models/testimonial";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "TestimonialView",
        components: {TestimonialForm, OctoSidebarRight, TestimonialDatatable, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Nuovo testimonial',
                        onClick: 'onShowNewTestimonialSidebar',
                        icon: 'plus'
                    },
                ],
                showSidebar: false,
                titleSidebar: 'Nuovo',
                currentTestimonial: Testimonial,
                testimonialsDatatableKey: 1,
                testimonialInfoKey: 1,
                sidebarButtons: [],
            }
        },
        methods: {
            openSidebarTestimonial: function (item) {
                this.titleSidebar = item ? item.author : 'Nuovo Testimonial';
                this.currentTestimonial = item ? this.$_.cloneDeep(item) : this.$_.cloneDeep(Testimonial);
                this.showSidebar = true;
                this.testimonialInfoKey++;
                this.sidebarButtons = [
                    {
                        label: 'salva',
                        onClick: 'onSaveTestimonial',
                        icon: 'floppy-disk',
                    },
                ];

                if (item) {
                    this.sidebarButtons.push({
                        label: 'elimina',
                        onClick: 'onDeleteTestimonial',
                        icon: 'delete',
                        styleBtn: 'secondary-button',
                        confirmData: {
                            title: 'Conferma Eliminazione',
                            message: 'Vuoi eliminare il testimonial?'
                        },
                    })
                }
                this.testimonialInfoKey++;
            },

            saveTestimonial: function () {
                if (this.$refs.testimonialForm.validate()) {
                    this.$fullLoading.show();
                    this.$api({
                        method: this.currentTestimonial.id ? 'put' : 'post',
                        url: this.currentTestimonial.id
                            ? routes.TESTIMONIAL_UPDATE.replace('{id}', this.currentTestimonial.id)
                            : routes.TESTIMONIAL_STORE,
                        data: this.currentTestimonial
                    }).then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Testimonial salvato correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.testimonialsDatatableKey++;
                        this.showSidebar = false;
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    })
                }
            },
            deleteTestimonial() {
                this.$fullLoading.show();
                this.$api.delete(routes.TESTIMONIAL_DELETE.replace('{id}', this.currentTestimonial.id))
                    .then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Testimonial cancellato correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.testimonialsDatatableKey++;
                        this.showSidebar = false;
                    })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Testimonial non cancellato', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    })
            },
        }
    }
</script>

<style scoped lang="scss">

</style>
