<template>
    <b-container>
        <b-row>
            <b-col cols="12" class="mb-3">
                Gestisci i contenuti riguardo a questo testimonial
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="mb-3">
                <octo-image-entity
                    :picture="getPictureLocal('main')"
                    tag="main"
                    :key="octoImageEntityKey"
                    @onSaveImage="saveImage"
                ></octo-image-entity>
            </b-col>
        </b-row>
        <b-row class="mb-4">
            <b-col cols="12">
                <octo-input label="Author"
                            name="author"
                            v-model="testimonialLocal.author"
                            :error="errors.author"
                            @input="errors.author = false"
                />
            </b-col>
        </b-row>
        <b-row class="mt-4">
            <b-col cols="12">
                <octo-lang-selector :current-lang="currentLang" @onChangeLanguage="changeLanguage"/>
                <div v-for="(item, index) in testimonialLocal.testimonialLangs" v-bind:key="index">
                    <div v-if="currentLang === item.lang">
                        <octo-input label="Job Title"
                                    name="job"
                                    v-model="item.job"
                                    :error="errors['job-' + item.lang]"
                                    @input="errors['job-' + item.lang] = false"/>
                        <octo-text-area class="mt-2"
                                        label="Text"
                                        name="text"
                                        v-model="item.text"
                                        :error="errors['text-' + item.lang]"
                                        @input="errors['text-' + item.lang] = false"/>
                    </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import Testimonial from "../models/testimonial";
    import TestimonialLang from "../models/testimonialLang";
    import Picture from "@octoCmsComponents/models/picture";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";

    export default {
        name: "TestimonialForm",
        components: {OctoImageEntity, OctoTextArea, OctoInput, OctoLangSelector},
        data() {
            return {
                testimonialLocal: Testimonial,
                currentLang: 'it',
                octoImageEntityKey: 1,
                errors: {}
            }
        },
        props: {
            testimonial: {
                type: Object,
                default: () => Testimonial
            },
        },
        methods: {
            changeLanguage(language) {
                this.currentLang = language;
            },
            saveImage(item) {

                const pictureIndex = this.$_.findIndex(this.testimonialLocal.pictures, (picture) => {
                    return picture.tag === item.tag
                });

                if(pictureIndex !== -1) {
                    this.$set(this.testimonialLocal.pictures, pictureIndex, item);
                } else {
                    this.testimonialLocal.pictures.push(item);
                }

                this.octoImageEntityKey++;
            },
            getPictureLocal(tag) {
                const picture = this.$_.find(this.testimonialLocal.pictures, (picture) => {
                    return picture.tag === tag
                });

                return picture ? picture : this.$_.cloneDeep(Picture);
            },
            validate() {
                this.errors = {};

                if (this.testimonialLocal.author === '') {
                    this.errors.author = true;
                }

                this.$_.each(this.testimonialLocal.testimonialLangs, item => {
                    if (item.job === '') {
                        this.currentLang = item.lang;
                        this.errors['job-' + item.lang] = true;
                    }
                    if (item.text === '') {
                        this.currentLang = item.lang;
                        this.errors['text-' + item.lang] = true;
                    }
                });

                return this.$_.isEmpty(this.errors);
            },
        },
        mounted() {
            this.testimonialLocal = this.testimonial;

            this.$completeLangs(
                this.testimonialLocal.testimonialLangs,
                TestimonialLang,
                this.testimonialLocal.id,
                'testimonial_id'
            )

            this.changeLanguage(this.$localStorage.getSettings().locale);

            this.octoImageEntityKey++;
        }
    }
</script>
<style lang="scss">
</style>
