<template>
    <b-container>
        <b-row>
            <b-col cols="6">
                <octo-input
                    class="mb-3"
                    name="imageWidth"
                    v-model="settings.image_width"
                    label="Image width (px)"
                />
            </b-col>
            <b-col cols="6">
                <octo-input
                    class="mb-3"
                    name="imageHeight"
                    v-model="settings.image_height"
                    label="Image Height (px)"/>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import TestimonialSetting from "../resources/testimonialSetting";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

    export default {
        name: "TestimonialSettingForm",
        components: {OctoInput},
        data() {
            return {
                settingsLocal: TestimonialSetting,
            }
        },
        props: {
            settings: {
                type: Object,
                default: () => TestimonialSetting
            },
        },
    }
</script>

<style scoped>

</style>
