<template>
    <octo-table
        :action="routes.DATATABLES.testimonials"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="TestimonialDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(author)="data">
            <div>{{data.item.author}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <span class="mx-2" v-on:click="$emit('onOpenTestimonial', data.item)">
                <octo-icon icon="open-folder"/>
            </span>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "TestimonialDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'author', label: 'Autore', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
